<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale-1">
    <title>
        {% block title %}Blog{%endblock%}
    </title>
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!--&lt;!&ndash; 可选的 Bootstrap 主题文件（一般不用引入） &ndash;&gt;-->
<!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/fonts/glyphicons-halflings-regular.eot')}}">
    <script src="{{url_for('static',filename='js/jquery-3.2.1.min.js')}}"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">-->
    <!--<script src="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <!--<script src="{{url_for('static',filename='js/static.js')}}"></script>-->
    {% block css%}
    {% endblock%}

</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Flasky</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <li class="active"><a href="{{url_for('main.index',page='1')}}">首页 <span class="sr-only">(current)</span></a></li>
        <li><a href="{{url_for('main.writePost')}}">写文章</a></li>
          {% if current_user.is_authenticated %}
          <li><a href="{{url_for('main.user',username=current_user.username)}}">个人中心</a></li>
            {% endif%}
          <li class="dropdown">
              <div></div>

          </li>
      </ul>
        <form class="navbar-form navbar-left" role="search" action="{{url_for('main.search')}}">
            <div class="form-group">
    <input type="text" class="form-control" placeholder="Search" name="search">
  </div>
            <button type="submit" class="btn btn-default">搜索</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated%}

        <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {% if current_user.userimg_url %}
              <img src="{{url_for('static',filename='image/userimg/')}}{{current_user.userimg_url}}" alt="" width="25" height="25">
              {% else %}
              <img src="{{current_user.gravatar(size=25)}}" alt="">
              {% endif %}
              {{current_user.username}} {% if current_user.messages.filter_by(status=True).count() >0 %} <span class="badge">{{current_user.messages.filter_by(status=True).count()}}</span>{% endif %}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('main.user',username=current_user.username)}}"><span class="glyphicon glyphicon-user" style="color:#ea6e5a;">&nbsp;</span>个人中心</a></li>
            <li><a {% if current_user.is_authenticated %} href="{{url_for('main.writePost')}}" {% endif %}><span class="glyphicon glyphicon-pencil" style="color:#ea6e5a;">&nbsp;</span>发布文章</a></li>
              <li><a href="{{url_for('main.mymessage',tag='comment')}}"><span class="glyphicon glyphicon-envelope" style="color:#ea6e5a;">&nbsp;</span>我的消息{% if current_user.messages.filter_by(status=True).count() >0 %} <span class="badge">{{current_user.messages.filter_by(status=True).count()}}</span>{% endif %}</a></li>
              <li><a href="{{url_for('main.mystore')}}"><span class="glyphicon glyphicon-bookmark" style="color:#ea6e5a;">&nbsp;</span>我的收藏</a></li>
              <li><a href='#' data-toggle="modal" data-target="#myorder" class="getorders"><span class="glyphicon glyphicon-eye-open" style="color:#ea6e5a;">&nbsp;</span>我的订阅</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{url_for('auto.logout')}}"><span class="glyphicon glyphicon-option-horizontal" style="color:#ea6e5a;">&nbsp;</span>退出登录</a></li>
          </ul>
            <li><a href="#" data-toggle="modal" data-target="#myModal">订阅</a></li>
        </li>

          {% else %}

            <!-- Button trigger modal -->

            <li><a href="{{url_for('auto.login')}}" >登录</a></li>
          <li><a href="{{url_for('auto.register')}}">注册</a></li>
          {% endif %}
            <!-- Large modal -->

      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">订阅内容(订阅后每周定时发送你所订阅模块内容)</h4>
      </div>
      <div class="modal-body">
       {% for order in orders %}
          <button class="btn btn-default tag" style="border-radius:20px;margin-top:30px;">{{order}}</button>
          {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary submit" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>
        <div class="modal fade" id="myorder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >取消订阅(点击选中可取消订阅)</h4>
      </div>
      <div class="modal-body gettags">
          {% if current_user.is_authenticated%}
            {% for tag in current_user.tags.all()%}
                <button class="btn btn-default removetags" style="border-radius:20px;margin-top:30px;">{{tag}}</button>
            {% endfor %}
          {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary removesubmit" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>
    </div>
<div class="container container-first" style="position:relative;top:60px;">

    {%  for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class='close' data-dismiss = 'alert'>&times;</button>
        {{message}}
    </div>
    {% endfor %}

{%block body%}
{%endblock%}

{%block footer%}
{%endblock%}
</div>

{% block botton%}
{% endblock%}





</body>
    {% block scripts%}

{% endblock%}

<script>
    $(function(){
        var tags=new Array();
        var removetags=new Array();

        $('.removetags').click(function(){
            removetag=$(this).text().trim();
            if(removetags.indexOf(removetag)>=0)
            {
                removetags.splice(removetags.indexOf(removetag),1);
                $(this).removeClass('btn-info').addClass('btn-default');
                }
            else
            {
                removetags.push(removetag);
                $(this).removeClass('btn-default').addClass('btn-info');
                }
        });
        $('.tag').click(function(){
            tag=$(this).text().trim();
            if(tags.indexOf(tag)>=0)
            {
                tags.splice(tags.indexOf(tag),1);
                $(this).removeClass('btn-info').addClass('btn-default');
                }
            else
            {
                tags.push(tag);
                $(this).removeClass('btn-default').addClass('btn-info');
                }
        });
        $('.submit').click(function(){
            $.post('/order',{'ordertags[]':tags},function(status){

                alert(status);
            })
        });

        $('.removesubmit').click(function(){
            $.post('/removeorder',{'list[]':removetags},function(data){
                alert(data)
            });
        });
    });
</script>
</html>
