{% extends "base.html"%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block title%}Home{% endblock%}
{%block body%}
<div class="row">
    <div class="col-lg-3">

        <ul class="list-group">
            <li class="list-group-item"><h4>博客分类</h4></li>
            {% for tag in tags%}

            <li class="list-group-item tags">
                {{tag}}
                <ul class={{tag}} style="display:none;list-style-type:none;">

                </ul>
            </li>

            {% endfor%}
        </ul>
    </div>

</div>


<div class="row" style="margin-top:20px;">
    <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="{{url_for('main.show_all')}}">All</a></li>
  <li role="presentation"><a href="{{url_for('main.show_followed')}}">Followed</a></li>

</ul>
</div>
<div class="row " style="margin-top:20px;">

    <div class="col-lg-9">

        {% for post in posts%}

        <div class="row">
            <div class="col-lg-12">
                <img style="border-radius:50%;"  src="{{ post.user.gravatar(size=30)}}" alt="用户头像">

                <a href="{{url_for('main.user',username=post.user.username)}}">{{post.user.username}}</a>
                <p style="float:right;margin-top:10px;">{{moment(post.publish_date).fromNow()}}</p>
            </div>
            <div class="row">
            <div class="col-lg-12">

                <h3>{{post.title}}</h3>
            </div>
                </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% if post.body_html%}
                {{post.body_html |truncate(255)|safe}}
                {% else%}
                {{post.content |truncate(255)|safe}}
                {% endif %}
                <a href="{{url_for('main.post',post_id=post.id)}}">阅读更多</a>
            </div>
        </div>
        <hr>
        {%endfor%}

    </div>
    <div class="col-lg-3">
            <div class="list-group">
  <a href="#" class="list-group-item active">
    最新文章
  </a>
                {% for post in recent%}
  <a href="{{url_for('main.post',post_id=post.id)}}" class="list-group-item">{{post.title}}</a>
  {% endfor %}
</div>
        </div>
<div class="col-lg-3">
            <div class="list-group">
  <a href="#" class="list-group-item active">
    最火博主
  </a>
                {% for post in recent%}
  <a href="{{url_for('main.post',post_id=post.id)}}" class="list-group-item">{{post.title}}</a>
  {% endfor %}
</div>
        </div>

    </div>
{%endblock%}
{%block footer%}
{% import 'macro.html' as s %}
<div class="row">
    <div class="col-lg-12">
        {{s.render_pagination(pagination,'main.index')}}
        {{moment.include_moment()}}
        {{pagedown.include_pagedown() }}
    </div>
</div>


{%endblock%}
{% block scripts%}
<!--<link rel="stylesheet" href="{{url_for('static',filename='css/static.css')}}">-->
<!--<script src="{{url_for('static',filename='js/static.js')}}"></script>-->
<script type="text/javascript">
        $(function(){
             $('.tags').each(function(){
             var s=$(this).text().trim();
             var tag='.'+s;
             $.get('/tags/'+s,function(dic){
                console.log(tag)
             pro=$(tag);
            $.each(dic.data,function(index,item){
                pro.append('<li><a href="/tag/'+item['title']+'">'+item['title']+'</a></li>');
            });
            });
             });

            $('.tags').hover(function(){

            $(this).find('ul').css('display','block');
           },
           function(){

           $(this).find('ul').css('display','none');
           });
            });


</script>
{% endblock%}
