{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block css%}
<link rel="stylesheet" href="{{url_for('static',filename='css/writepost.css')}}">
{% endblock %}

{% block body%}
<div class="row row-post-first">
<div class="col-lg-offset-3 col-lg-6 col-lg-offset-3">
    <div class="row post" id="post-{{post.id}}">
        <div class="post-title">
                <h1><b>{{post.title}}</b></h1>
        </div>
        <div class="post-author">
            {% if post.user.userimg_url %}
            <a class='img' href="{{url_for('main.user',username=post.user.username)}}"><img src="{{url_for('static',filename='image/userimg/')}}{{post.user.userimg_url}}" alt="" width="50" height="50"></a>
            {% else %}
             <a href="{{url_for('main.user',username=post.user.username)}}"><img  class =' img-rounded profile-thumbnail' src="{{ post.user.gravatar(size=50)}}" alt="用户头像"></a>
            {% endif %}
            <div class="author-info">
                    <a href="{{url_for('main.user',username=post.user.username)}}" class="username">{{post.user.username}}</a>
                    {% if current_user.is_authenticated %}
                    {% if current_user.is_following(post.user) %}
                    <a href="javascript:guanzhu()" class="followed"><button class="btn btn-default btn-xs">√已关注</button></a>
                    <a href="javascript:guanzhu()" class="unfollowed" style="display:none;"><button class="btn btn-info btn-xs">+关注</button></a>

                    {% else %}
                    <a href="javascript:guanzhu()" class="followed" style="display:none;"><button class="btn btn-default btn-xs">√已关注</button></a>
                    <a href="javascript:guanzhu()" class="unfollowed"><button class="btn btn-info btn-xs">+关注</button></a>

                    {% endif %}
                    {% else %}
                       <a href="{{url_for('auto.login')}}" class="followed"><button class="btn btn-info btn-xs">+关注</button></a>
                    {% endif %}
                    <div class="meta">
                        <span>{{moment(post.publish_date).format('L')}}</span>
                        <span>收藏&nbsp;{{storypostnum}}</span>
                        <a href="{{url_for('main.post',post_id=post.id)}}">阅读数量&nbsp;{{post.clicknum}}</a>
                        <a href="{{url_for('main.post',post_id=post.id)}}#">评论&nbsp;{{post.comments.count()}}</a>

                        <a href="{{url_for('main.like',post_id=post.id)}}">喜欢&nbsp;{{post.likenum}}</a>

                    </div>
                </div>
        </div>
        <div class="post-text">
                {% if post.body_html %}
                {{post.body_html|safe}}
                {% else%}
                {{post.content |safe}}
                {% endif %}
            <div class="post-botton">
                <p><b>谢谢支持，给我个喜欢就好，祝你好运！</b></p>
                {% if current_user in post.liked %}
                <div class="post-button"><div class="liked" onclick="liketoggle()"><span class="glyphicon glyphicon-heart-empty"></span>&nbsp;喜欢&nbsp;&nbsp;|&nbsp;&nbsp;{{likenum}}</div></div>
                {% else %}
                 <div class="post-button"><div class="like" onclick="liketoggle()"><span class="glyphicon glyphicon-heart-empty"></span>&nbsp;喜欢&nbsp;&nbsp;|&nbsp;&nbsp;{{likenum}}</div></div>
                {% endif %}

            </div>
        </div>
        <div class="post-tag">
            <span class="glyphicon glyphicon-book">&nbsp;{{post.tags[0]}}</span>
            <span class="post-tag-right">© 著作权归作者所有</span>
        </div>
        <div class="post-meta">

                <div class="author-info">
                    {% if post.user.userimg_url %}
                    <a href="{{url_for('main.user',username=post.user.username)}}"><img src="{{url_for('static',filename='image/userimg/')}}{{post.user.userimg_url}}" alt="" width="60px" height="60px"></a>
                    {% else %}
                    <a href="{{url_for('main.user',username=post.user.username)}}"><img  class =' img-rounded profile-thumbnail' src="{{ post.user.gravatar(size=60)}}" alt="用户头像"></a>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    {% if current_user.is_following(post.user) %}
                    <a href="javascript:guanzhu()" class="followed"><button class="btn btn-default btn-lg">√已关注</button></a>
                    <a href="javascript:guanzhu()" class="unfollowed" style="display:none;"><button class="btn btn-info btn-lg">+关注</button></a>

                    {% else %}
                    <a href="javascript:guanzhu()" class="followed" style="display:none;"><button class="btn btn-default btn-lg">√已关注</button></a>
                    <a href="javascript:guanzhu()" class="unfollowed"><button class="btn btn-info btn-lg">+关注</button></a>
                    {% endif %}
                    {% else %}
                     <a href="{{url_for('auto.login')}}" class="unfollowed" ><button class="btn btn-info btn-lg">+关注</button></a>

                    {% endif %}
                    <div class="meta">
                        <p>
                        <a href="{{url_for('main.user',username=post.user.username)}}" class="username">{{post.user.username}}</a>
                        </p>
                        <span>{{moment(post.user.last_seen).format('L')}}</span>
                        <span>收藏&nbsp;{{storypostnum}}</span>
                        <a href="{{url_for('main.followed_by',username=post.user.username)}}" target="_blank">粉丝&nbsp;{{post.user.followed.count()}}</a>
                        {% if  current_user in post.liked %}
                        <a href="{{url_for('main.like',post_id=post.id)}}" target="_blank">喜欢&nbsp;{{likenum}}</a>
                        {% else %}
                        <a href="{{url_for('main.like',post_id=post.id)}}" target="_blank">喜欢&nbsp;{{likenum}}</a>
                        {% endif %}

                    </div>
                    <hr>
                    <p class="about_me">
                        {% if post.user.about_me %}
                        {{ post.user.about_me}}
                        {% else %}
                        这个作者很懒的，他什么也没留下。。
                        {% endif %}
                    </p>
                </div>

        </div>
    </div>
    <div class="row post-comment">
        {% if current_user.is_authenticated %}
        <div class="comment-form">
                            {% if current_user.userimg_url %}
                            <a href="{{url_for('main.user',username=current_user.username)}}"><img src="{{url_for('static',filename='image/userimg/')}}{{current_user.userimg_url}}" alt="" width="50px" height="50px" style="display:inline-block;"></a>
                            {% else %}
                            <a href="{{url_for('main.user',username=current_user.username)}}"><img src="{{ current_user.gravatar(size=50)}}" alt="用户头像" width="50px" height="50px;" style="display:inline-block;"></a>
                            {% endif %}

              <form  method="post"    id="form" style="display:inline-block;margin-left:8px;width:520px;">
                  <div class="form-group  required"><textarea class="form-control form-parent" id="text" name="text" placeholder="写下你的评论" required></textarea></div>
<div id="form-button" style="display:none;">
                <div class="btn btn-info" id="submit">提交</div><div class="btn btn-default" style="background-color:#969696;" id="quxiao">取消</div>
            </div></form>
        </div>
        {% else %}
        <div class="unlogin">
            <img src="/static/avatar_default-78d4d1f68984cd6d4379508dd94b4210.png" alt="moren">
            <div class="unlogin-div">
                <a href="{{url_for('auto.login')}}" class="btn btn-primary">登录</a>
                <span>后发表言论</span>
            </div>
        </div>
        {% endif %}
        <div class="comment-list">
            <div class="comment-list-head">
                <span><b>{{post.comments.count()}}条评论</b></span>

                <hr>
            </div>
            <div class="comment-list-meta">
                <ul class="comment-list-parent">
                {% for comment in comments %}
                <li class="comment-list-parent-li" id="comment-{{comment.id}}">
                    <div class="author">
                        {% if comment.user.userimg_url %}
                            <a href="{{url_for('main.user',username=comment.user.username)}}"><img src="{{url_for('static',filename='image/userimg/')}}{{comment.user.userimg_url}}" alt="" width="40px" height="40px"></a>
                            {% else %}
                            <a href="{{url_for('main.user',username=comment.user.username)}}"><img src="{{ comment.user.gravatar(size=40)}}" alt="用户头像" width="40px" height="40px;"></a>
                            {% endif %}
                        <div class="author-info">
                            <a href="{{url_for('.user',username=comment.user.username)}}">{{comment.user.username}}</a>
                            <p><span>{{comment.date}}</span></p>
                        </div>
                        <div class="comment-text">
                            {{ comment.text }}
                        </div>
                        <div class="comment-bottom">
                            <div style="display:inline;">
                                {% if current_user.is_authenticated %}
                                <span class="glyphicon glyphicon-comment" aria-hidden="true" >&nbsp;回复</span>
                                {% else %}
                                <a href="{{url_for('auto.login')}}"><span class="glyphicon glyphicon-comment" aria-hidden="true" >&nbsp;回复</span></a>
                                {% endif %}
                            </div>
                            {% if current_user.is_administrator() %}
                            <a href="{{url_for('.recover_comment',post_id=post.id,id=comment.id)}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;删除</a>
                            {% endif %}
                            {% if comment.childrens %}
                            <a  class="showcomment">展开评论</a>
                            {% endif %}
                        </div>
                    </div>

                    <ul class="comment-list-children" style="display:none;">

                        {% for commentchildren in comment.childrens %}
                        <li  id="comment-{{commentchildren.id}}" class="comment-list-children-li">
                            <p class="ps">
                                <a href="{{url_for('.user',username=commentchildren.user.username)}}">{{ commentchildren.user.username }}</a>:{{commentchildren.text}}
                            </p>
                            <p  class="he">
                                <span>{{ commentchildren.date }}</span>
                                {% if current_user.is_authenticated  %}

                                <a href="#1" ><span class="glyphicon glyphicon-comment" aria-hidden="true" id="main"></span>&nbsp;回复</a>
                                {% else %}
                                <a href="{{url_for('auto.login')}}"><span class="glyphicon glyphicon-comment" aria-hidden="true" >&nbsp;回复</span></a>
                                {% endif %}
                                {% if current_user.is_administrator %}
                            <a href="{{url_for('.recover_comment',post_id=post.id,id=commentchildren.id)}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;删除</a>
                            {% endif %}
                            </p>
                            <hr style="clear:both;">
                        </li>
                        {% endfor %}

                        <li style="margin-left:30px;" id="1">
                            <div  style="display:inline;margin-right:20px;"><a  class="addnewcomment"><span class="glyphicon glyphicon-pencil" ></span>添加新评论</a></div>
                            <span style="margin-right:20px;">|</span>
                            <a class="hide-comment">收起评论</a>
                        </li>
                    </ul>
                </li>
                <hr style="clear:both;">
                {% endfor %}
            </ul>
        </div>
        <div class="page" id="bottom">

            {% import 'macro.html' as s %}
            {{s.render_pagination(pagination,'main.post',post.id)}}
        </div>
    </div>
    <div class="row slide">
        <ul>
             <li>
                 <a href="#top">
                     <span class="glyphicon glyphicon-chevron-up"></span>
                 </a>
                 <span class="tooltext">回到顶部</span>
             </li>
            <li>
                {% if current_user==post.user or current_user  in post.storybyuser %}
                <a href="javascript:alert('你已收藏此文章')" aria-hidden="false">
                    <span  class="glyphicon glyphicon-bookmark"></span>
                </a>
                 {% else %}
                <a href="{{url_for('main.store',post_id=post.id)}}" aria-hidden="false">
                    <span  class="glyphicon glyphicon-bookmark"></span>
                </a>
                {% endif %}
                    <span class="tooltext">收藏文章</span>
            </li>
            <li>
                {% if current_user==post.user %}
                <a href="{{url_for('main.edit',id=post.id)}}" >
                    <span class="glyphicon glyphicon-pencil"></span>

                </a>
                {% elif current_user.is_administrator()%}
                <a href="{{url_for('main.edit',id=post.id)}}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                {% else %}
                <a href="javascript:alert('你没有权限修改文章')">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>

                {% endif %}
                    <span class="tooltext">编辑文章</span>
            </li>
            <li>
                 <a href="#bottom">
                     <span class="glyphicon glyphicon-chevron-down"></span>
                 </a>
                     <span class="tooltext">回到底部</span>
             </li>
        </ul>
    </div>
</div>
</div>
</div>

<div class="readlink">
    <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 post-list">
        <div class="readlink-head">
            <span>推荐阅读</span>
            <a href="{{url_for('main.handletag',tag_title=post.tags[0])}}">更多内容></a>
            <hr>
        </div>
        <ul>
        {% for post in posts%}
        <li>



            <div class="article">
                {% if post.post_img%}
                <a href="{{url_for('.post',post_id=post.id)}}"><img src="{{url_for('static',filename=post.post_img)}}" alt="图片" width="150px;" height="120px;" class="post-img"></a>
                {% endif %}
                <a href="{{url_for('main.post',post_id=post.id)}}" target="_blank"><h4><b>{{post.title}}</b></h4></a>
                <p>{{post.content |truncate(100)|safe}}</p>
            </div>
            <div class="author">
                <img style="border-radius:50%;"  src="{{ post.user.gravatar(size=30)}}" alt="用户头像">
                <a href="{{url_for('main.user',username=post.user.username)}}" target="_blank">{{post.user.username}}</a>
            </div>


        </li><hr>
        {%endfor%}
        </ul>
    </div>

</div>
{% endblock %}




{% block scripts%}
{{pagedown.include_pagedown()}}
{{moment.include_moment()}}
<script>
        var comment_id;

        $(function(){
            $('.glyphicon-comment').click(function(){
                $('.li-comment-form').remove();
                comment_id = $(this).parents('.comment-list-parent-li').attr('id').substr(8);
                $(this).parents('.comment-list-parent-li').append('<div class="li-comment-form" ><form  method="post" class="form replycomment" role="form" style="margin-top:20px"><textarea class="form-control form-children"  placeholder="写下你的评论" required></textarea><div class="btn btn-default"  onclick = "comment()">提交</div><div class="btn btn-default" style="background-color:#969696;" onclick="hideComment()">取消</div></form></div>');
                var s= $(this).attr('id');
                if(s == 'main'){
                    var input = $(this).parents('.comment-list-children-li').find('p.ps a').text();
                    $('.replycomment textarea').val('@'+input+' ')
                }

             });

             $('#submit').click(function(){
                $('#from-button').hide()
                var post_id = $('.post').attr('id').substr(5);
                var input = $('.form-parent').val();
                $.post('/commentreply/'+post_id,{'input':input},function(data){
                    if(data){
                        $('.li-comment-form').remove();
                        $('.form-parent').val(' ');
                        var s = $('.comment-list-head span b').text().split(' ')[0]
                        $('.comment-list-head span').empty()
                        var temp = parseInt(s)+1
                        $('.comment-list-head span').append('<b>'+temp+'条评论</b>')

                        $('.comment-list-parent').append('<li  id="comment-'+data["comment_id"]+'"  class="comment-list-parent-li"><div class="author"><a href="/user/'+data["username"]+'"><img src="/static/image/userimg/'+data["comment_user_img"]+'" alt="用户头像" width="40px" height="40px;"></a><div class="author-info"><a href="/user/'+data["username"]+'">'+data["username"]+'</a><p><span>'+data["comment_time"]+'</span></p></div><div class="comment-text">'+data["comment_text"]+'</div><div class="comment-bottom"><div style="display:inline;"><span class="glyphicon glyphicon-comment" aria-hidden="true" >&nbsp;回复</span></div><a href=""><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;删除</a></div></div><div></div><hr style="clear:both;"></li>')

                    }
                });

             });



             $('.addnewcomment').click(function(){
                $('.li-comment-form').remove();
                $(this).parents('.comment-list-parent-li').append('<div class="li-comment-form" ><form  method="post" class="form replycomment" role="form" style="margin-top:20px"><textarea class="form-control form-children"  placeholder="写下你的评论" required></textarea><div class="btn btn-default"  onclick = "comment()">提交</div><div class="btn btn-default" style="background-color:#969696;" onclick="hideComment()">取消</div></form></div>');

             });


             $('#text').focus(function(){
                $('#form-button').show();
             })

             $('#quxiao').click(function(){
                $('#from-button').hide()
             })


             $('.showcomment').click(function(){

                $(this).parents('.comment-list-parent-li').find('.comment-list-children').toggle();
             })

             $('.hide-comment').click(function(){
                $(this).parents('.comment-list-parent-li').find('.comment-list-children').hide()
             })

        })

        function comment(){
                var post_id = $('.post').attr('id').substr(5);
                var input = $('.form-children').val();
                $.post('/commentchildren/'+post_id+'/'+comment_id,{'input':input},function(data){
                    if(data){
                        $('.li-comment-form').remove();
                        $('.form-parent').val(' ');
                        var s = $('.comment-list-head span b').text().split(' ')[0]
                        $('.comment-list-head span').empty()
                        var temp = parseInt(s)+1
                        $('.comment-list-head span').append('<b>'+temp+'条评论</b>')
                        var test = '#comment-'+data['pcomment_id']+'  ul'


                        $(test).append('<li id="comment-'+data["comment_id"]+'" class="comment-list-children-li"> <p class="ps"><a href="/user/'+data["username"]+'">'+data["username"]+'</a>:'+data["comment_text"]+'</p><p class="he"><div style="display:inline;"><span class="glyphicon glyphicon-comment" aria-hidden="true" id="main"></span>&nbsp;回复</div><a href=""><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;删除</a></p><hr style="clear:both;"></li>')
                    }
                });

        }



        function hideComment(){
                $('.li-comment-form').remove();
        }

        function guanzhu(){
            $.get('{{url_for("main.followtoggle",username=post.user.username)}}',function(data){
                if(data == 'follow'){
                    $('.unfollowed').hide();
                    $('.followed').show();
                }
                else{
                    $('.unfollowed').show();
                    $('.followed').hide();
                }

            });
        }

        function liketoggle(){

            var s = $('.post-button div').attr('class');
            if(s == 'like')
            {
                $.get('{{url_for("main.liketoggle",status="like",post_id=post.id)}}',function(data){
                    $('.post-button').empty();

                    $('.post-button').append('<div class="liked" onclick="liketoggle()"><span class="glyphicon glyphicon-heart"></span>&nbsp;喜欢&nbsp;&nbsp;|&nbsp;&nbsp;'+data[0]["likenum"]+'</div>')
                })
            }
            else{
                $.get('{{url_for("main.liketoggle",status="liked",post_id=post.id)}}',function(data){
                    $('.post-button').empty();

                    $('.post-button').append('<div class="like" onclick="liketoggle()"><span class="glyphicon glyphicon-heart-empty"></span>&nbsp;喜欢&nbsp;&nbsp;|&nbsp;&nbsp;'+data[0]["likenum"]+'</div>')
                })
            }
        }



        </script>
{% endblock %}


