{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block body%}
<div class="row">
<div class="col-lg-12">

        <div class="row">
            <div class="col-lg-12">
                <img  class =' img-rounded profile-thumbnail' src="{{ post.user.gravatar(size=40)}}" alt="">
                <a href="{{url_for('main.user',username=post.user.username)}}">{{post.user.username}}</a>
                <p style="float:right;">{{moment(post.publish_date).fromNow()}}</p>
            </div>
            <div class="row">
            <div class="col-lg-12">

                <h3>{{post.title}}</h3>
            </div>
                </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% if post.body_html %}
                {{post.body_html|safe}}
                {% else%}
                {{post.content |safe}}

                {% endif %}
            </div>
            <div class="row" style="float:right;">
                {% if current_user==post.user %}
                <a href="{{url_for('main.edit',id=post.id)}}">
                    <span class="label label-primary">Edit</span>
                </a>

                {% elif current_user.is_administrator()%}
                <a href="{{url_for('main.edit',id=post.id)}}">
                    <span class="label label-danger">Edit [ADMIN]</span>
                </a>
                {% endif %}
            </div>
        </div>
        <hr>
    <div>
        <div class="row">
    <ul class="nav nav-tabs">
  <li role="presentation" class="active">用户评论:<span class="badge">{{post.comments.count()}}</span></li>
</ul>
        <ul >
            {% for comment in comments %}

            <li>
                <div class="row">
                    {{comment.user.username}}
                </div>
                <div class="row">
            {% if comment.disable%}
                    <p>此评论被屏蔽</p>
                    {% else%}
            <p>{{comment.text}}</p>
                    {% endif%}
                    {% if current_user.can(Permission.MODERATE_COMMENTS) or current_user.can(Permission. ADMINISTER) %}
{% if not comment.disable%}
                    <a href="{{url_for('main.delete_comment',post_id=post.id,id=comment.id)}}" class="btn btn-danger btn-sm" style="float:right;">
         Delete
                        </a>
                        {% else%}
                    <a href="{{url_for('main.recover_comment',post_id=post.id,id=comment.id)}}" class="btn btn-danger btn-sm" style="float:right;">
                        Enable</a>{% endif %}


                    {%endif %}

                    </div>
            </li>
            <hr>
            {% endfor %}
        </ul>

    </div>

    </div>
</div>
<div class="col-lg-12">
    <h3>New Comment:</h3>
    {{wtf.quick_form(form)}}
</div>
{% endblock %}
    {% block scripts%}
    {{pagedown.include_pagedown()}}
    {% endblock%}