{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
{% block body%}
<div class="row">
    <div class="col-lg-9 ">
        {% if current_user.can(Permission.WRITE_ARTICLES)%}
        {{ wtf.quick_form(form)}}
        {% endif%}
    </div>
</div>
{% endblock%}
{% block scripts%}
{{ moment.include_moment()}}
{{pagedown.include_pagedown()}}
<script>
    $(function(){


    host=location.hostname+':'+location.port;

    $.get('http://'+host+'/tags/编程语言',function(dic){

    var lasttag=$('#lasttag');
    lasttag.empty();
    $.each(dic.data,function(index,item){
                    lasttag.append('<option value='+item['id']+'>'+item['title']+'</option>');
                });
    });
    $('#tag').change(function(){
    var s=$(this).val();


    host=location.hostname+':'+location.port;
    <!--完整的url才能正确的发送请求-->
    $.get('http://'+host+'/tags/'+s,function(dic){

    var lasttag=$('#lasttag');
<!--先清空，不然之前的也会留下-->
    lasttag.empty();
    $.each(dic.data,function(index,item){
                    lasttag.append('<option value='+item['id']+'>'+item['title']+'</option>');
                });
    });
    });
    })
</script>
{% endblock%}